/* Este es el estilo del main */
/* * {
  box-sizing: border-box;
} */
body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: purple;
}

.container-main {
  gap: 0px;
}

.input1,
.button1 {
  font-size: 20px;
  padding: 10px 10px;
  margin: 0;
  background-color: white;
  border: 1px black;
}

.input-closed {
  display: none;
}
